*~
*.o
*.obs
*.ini
*.local
.depend*
app/convbin/convbin
app/pos2kml/pos2kml
app/rnx2rtkp/rnx2rtkp
app/rtkrcv/rtkrcv
app/str2str/str2str
util/gencrc/gencrc
util/gencrc/genxor
util/gencrc/genmsk
util/rnx2rtcm/rnx2rtcm
